{% extends "auctions/layout.html" %}

{% block body %}

{% for bid in bids %}   

<div class="alert alert-success">
  <strong>Congrats!</strong> You are winner of the "{{bid.listing.name}}" auction.
</div>

{% endfor %}

<div class="tap-pane" role="tabpanel" id="{% url 'index' %}">

    <h3>Active Listings</h3>

    <div class="row">
        {% for listing in listings %}
        <div class="col-sm">
            <div class="card text-center" style="width: 15rem; margin-top:70px">
                <img style="height: 200px; width:200px ; margin:20px" src="{{ listing.image_url }}"
                    class="card-img-top rounded-circle mx-auto d-block" alt="...">
                <div class="card-body">
                    <p class="card-text"><a href="/list/{{ listing.id }}"> {{ listing.name }} </a>
                    </p>
                    <p class="card-text"><a> 
                        {% if listing.estate == 'Inact' %}
                        <h6>The product is not available</h6>
                        {%else%}
                        <strong> Price: ${{listing.price}},00 </strong> </p>
                        {%endif%}
                    <h6 class="card-subtitle mb-2 text-muted"> <small>Created {{listing.create}}</small> </h6>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}